.App {
  text-align: center;
  border: 5px solid silver;
  box-sizing: border-box;
  box-shadow: 5px;
  width: 50%;
  height: 50%;
  margin-top: 100px;
}

.item {
  border: 15px solid gainsboro;
  border-radius: 30px;
  outline: none;
  padding: 5px;
  margin: 10px;
}

.btn {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 13.5px;
}

.del {
  border-radius: 25px;
}

.del:hover {
  transition-duration: 1.5s;
  background-color: red;
  color: black;
}

.btn-2 {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 13.5px;
}

#warningColor {
  background-color: whitesmoke;
}

#warningMessage {
  background-color: crimson;
}
